.footer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -1px;
  background-position: 0 bottom;
  transform-origin: center bottom;
  animation: move_wave 5s linear infinite;
}

.waveTop {
  width: 50%;
  z-index: 3;
  opacity: 0.5;
  animation-duration: 4s;
}

.waveMid {
  width: 50%;
  z-index: 2;
  opacity: 0.75;
  animation-duration: 6s;
}
.waveBot {
  width: 50%;
  z-index: 1;
  opacity: 0.5;
  animation-duration: 8s;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(0.5);
  }
  25% {
    transform: translateX(-20%) translateZ(0) scaleY(0.55);
  }
  50% {
    transform: translateX(-45%) translateZ(0) scaleY(0.55);
  }
  75% {
    transform: translateX(-20%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(0%) translateZ(0) scaleY(0.5);
  }
}
