/* stars */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1745px 63px #fff, 1399px 1492px #fff, 228px 1798px #fff,
    1661px 321px #fff, 290px 984px #fff, 1237px 937px #fff, 1593px 979px #fff,
    1966px 1949px #fff, 1527px 700px #fff, 1195px 1063px #fff, 1948px 587px #fff,
    440px 1471px #fff, 1233px 1372px #fff, 269px 1254px #fff, 1812px 1081px #fff,
    1922px 1109px #fff, 1514px 1329px #fff, 570px 1218px #fff,
    1445px 1763px #fff, 1071px 1004px #fff, 1131px 470px #fff, 305px 656px #fff,
    886px 1579px #fff, 1914px 1979px #fff, 716px 1963px #fff, 1707px 57px #fff,
    1114px 1262px #fff, 1150px 1112px #fff, 1667px 1894px #fff,
    1988px 1526px #fff, 477px 1042px #fff, 226px 1170px #fff, 1926px 1014px #fff,
    1159px 1758px #fff, 114px 1223px #fff, 427px 901px #fff, 526px 1090px #fff,
    1730px 306px #fff, 1438px 841px #fff, 961px 648px #fff, 1759px 804px #fff,
    711px 996px #fff, 734px 607px #fff, 154px 1208px #fff, 938px 1898px #fff,
    825px 1480px #fff, 1199px 1252px #fff, 1687px 1672px #fff, 660px 941px #fff,
    807px 1628px #fff, 1486px 859px #fff, 1545px 1164px #fff, 599px 1566px #fff,
    1857px 1020px #fff, 1724px 349px #fff, 1094px 1718px #fff, 355px 941px #fff,
    1819px 723px #fff, 1671px 296px #fff, 339px 1921px #fff, 1533px 1472px #fff,
    1474px 792px #fff, 1848px 1973px #fff, 23px 1494px #fff, 1628px 1221px #fff,
    278px 633px #fff, 34px 595px #fff, 590px 955px #fff, 969px 1611px #fff,
    569px 1420px #fff, 1286px 1928px #fff, 434px 643px #fff, 1695px 1728px #fff,
    584px 33px #fff, 1899px 992px #fff, 1667px 346px #fff, 1435px 1279px #fff,
    1890px 1076px #fff, 1258px 616px #fff, 1675px 688px #fff, 425px 340px #fff,
    131px 1457px #fff, 977px 1434px #fff, 11px 1573px #fff, 1027px 827px #fff,
    1743px 1594px #fff, 1252px 1954px #fff, 904px 226px #fff, 115px 147px #fff,
    760px 992px #fff, 1102px 1069px #fff, 862px 1598px #fff, 1495px 999px #fff,
    65px 288px #fff, 1233px 1351px #fff, 126px 1148px #fff, 1967px 1090px #fff,
    726px 1654px #fff, 575px 1381px #fff, 1488px 222px #fff, 923px 198px #fff,
    129px 1336px #fff, 1558px 1847px #fff, 1265px 988px #fff, 826px 1063px #fff,
    446px 904px #fff, 179px 1056px #fff, 1551px 1509px #fff, 914px 1243px #fff,
    50px 187px #fff, 877px 1407px #fff, 1280px 1217px #fff, 897px 204px #fff,
    1449px 602px #fff, 1178px 10px #fff, 141px 903px #fff, 1791px 1354px #fff,
    1144px 185px #fff, 1278px 1158px #fff, 1398px 1460px #fff, 1608px 937px #fff,
    1914px 1804px #fff, 114px 107px #fff, 601px 46px #fff, 837px 777px #fff,
    1183px 471px #fff, 97px 1081px #fff, 1355px 396px #fff, 1870px 1767px #fff,
    1217px 716px #fff, 1134px 699px #fff, 1107px 1031px #fff, 276px 1203px #fff,
    167px 1836px #fff, 1526px 1347px #fff, 1695px 1236px #fff, 1117px 119px #fff,
    345px 870px #fff, 256px 1353px #fff, 48px 753px #fff, 1277px 352px #fff,
    537px 88px #fff, 1824px 64px #fff, 498px 1575px #fff, 1626px 717px #fff,
    398px 1723px #fff, 1667px 1038px #fff, 130px 1567px #fff, 266px 1831px #fff,
    572px 62px #fff, 1239px 1996px #fff, 168px 1297px #fff, 683px 1987px #fff,
    1818px 1422px #fff, 1963px 1988px #fff, 949px 1202px #fff, 840px 1387px #fff,
    1094px 47px #fff, 994px 521px #fff, 1050px 1862px #fff, 865px 1912px #fff,
    82px 1951px #fff, 168px 711px #fff, 346px 290px #fff, 171px 1189px #fff,
    1850px 1781px #fff, 641px 750px #fff, 1623px 1684px #fff, 1575px 1066px #fff,
    64px 706px #fff, 371px 693px #fff, 1881px 1141px #fff, 1690px 305px #fff,
    891px 988px #fff, 541px 1581px #fff, 1970px 613px #fff, 1619px 1234px #fff,
    1610px 73px #fff, 250px 518px #fff, 1559px 100px #fff, 1853px 1580px #fff,
    1157px 1650px #fff, 1899px 224px #fff, 732px 1166px #fff, 630px 1139px #fff,
    715px 686px #fff, 1106px 1157px #fff, 1719px 114px #fff, 903px 1339px #fff,
    853px 609px #fff, 1633px 995px #fff, 588px 865px #fff, 981px 488px #fff,
    174px 892px #fff, 1224px 1858px #fff, 582px 227px #fff, 1809px 392px #fff,
    1291px 279px #fff, 1345px 1122px #fff, 1662px 1547px #fff, 1396px 193px #fff,
    1064px 1021px #fff, 1077px 1196px #fff, 1120px 1397px #fff, 26px 224px #fff,
    814px 1250px #fff, 168px 1233px #fff, 725px 1022px #fff, 1209px 928px #fff,
    138px 308px #fff, 742px 969px #fff, 871px 214px #fff, 192px 916px #fff,
    1307px 1467px #fff, 186px 1996px #fff, 1094px 576px #fff, 1640px 448px #fff,
    523px 21px #fff, 1382px 167px #fff, 1719px 497px #fff, 1065px 1821px #fff,
    1808px 270px #fff, 434px 305px #fff, 393px 413px #fff, 298px 1890px #fff,
    1264px 1043px #fff, 198px 708px #fff, 891px 1540px #fff, 1233px 1914px #fff,
    811px 1333px #fff, 667px 1493px #fff, 1722px 894px #fff, 1179px 1085px #fff,
    187px 1583px #fff, 203px 1628px #fff, 927px 495px #fff, 179px 884px #fff,
    1969px 1923px #fff, 1679px 1333px #fff, 17px 200px #fff, 631px 1068px #fff,
    1775px 1967px #fff, 1938px 1100px #fff, 1058px 943px #fff, 929px 1539px #fff,
    687px 949px #fff, 953px 1819px #fff, 595px 667px #fff, 1691px 1258px #fff,
    1698px 834px #fff, 1484px 1804px #fff, 1764px 842px #fff, 1950px 413px #fff,
    1204px 1136px #fff, 792px 995px #fff, 1569px 109px #fff, 1095px 605px #fff,
    1945px 1911px #fff, 1504px 1387px #fff, 552px 938px #fff, 589px 785px #fff,
    1053px 1009px #fff, 1145px 277px #fff, 869px 30px #fff, 866px 83px #fff,
    1043px 324px #fff, 1572px 1647px #fff, 1946px 131px #fff, 593px 198px #fff,
    539px 67px #fff, 1410px 1174px #fff, 1320px 1156px #fff, 1035px 664px #fff,
    611px 954px #fff, 1406px 107px #fff, 356px 791px #fff, 450px 501px #fff,
    946px 1346px #fff, 1811px 867px #fff, 260px 635px #fff, 1945px 1008px #fff,
    721px 1091px #fff, 190px 906px #fff, 1043px 1296px #fff, 1004px 1213px #fff,
    1069px 600px #fff, 1345px 244px #fff, 1008px 673px #fff, 3px 1477px #fff,
    1193px 316px #fff, 1179px 554px #fff, 205px 1080px #fff, 195px 693px #fff,
    756px 1004px #fff, 1882px 1389px #fff, 215px 1738px #fff, 1749px 1560px #fff,
    846px 1744px #fff, 954px 838px #fff, 374px 1157px #fff, 1886px 1153px #fff,
    1954px 1552px #fff, 1815px 1459px #fff, 1876px 1855px #fff,
    1005px 1894px #fff, 1794px 1693px #fff, 1234px 1716px #fff,
    1962px 1557px #fff, 829px 715px #fff, 1093px 1013px #fff, 882px 1429px #fff,
    380px 261px #fff, 667px 1853px #fff, 1068px 760px #fff, 211px 417px #fff,
    1377px 258px #fff, 1819px 1610px #fff, 1969px 677px #fff, 944px 1629px #fff,
    1599px 69px #fff, 813px 880px #fff, 369px 756px #fff, 102px 1484px #fff,
    1429px 1527px #fff, 1711px 528px #fff, 1187px 1501px #fff, 959px 1497px #fff,
    1913px 1079px #fff, 1986px 1193px #fff, 1011px 21px #fff, 363px 353px #fff,
    1475px 1253px #fff, 1282px 361px #fff, 286px 183px #fff, 1345px 1034px #fff,
    700px 705px #fff, 1407px 294px #fff, 1764px 76px #fff, 984px 439px #fff,
    1293px 1944px #fff, 1988px 1818px #fff, 1331px 720px #fff, 262px 257px #fff,
    978px 466px #fff, 1743px 113px #fff, 510px 901px #fff, 254px 1899px #fff,
    748px 675px #fff, 432px 770px #fff, 604px 1700px #fff, 1631px 1572px #fff,
    1668px 1671px #fff, 1652px 1167px #fff, 291px 82px #fff, 437px 178px #fff,
    128px 10px #fff, 359px 1885px #fff, 604px 311px #fff, 415px 1436px #fff,
    1103px 1886px #fff, 605px 308px #fff, 1309px 710px #fff, 1047px 1536px #fff,
    143px 712px #fff, 727px 1782px #fff, 1880px 146px #fff, 1300px 236px #fff,
    1034px 1790px #fff, 483px 167px #fff, 895px 483px #fff, 1493px 667px #fff,
    249px 1998px #fff, 1241px 1598px #fff, 1610px 371px #fff, 310px 718px #fff,
    1543px 486px #fff, 255px 1721px #fff, 402px 857px #fff, 420px 1882px #fff,
    657px 499px #fff, 1305px 432px #fff, 1848px 685px #fff, 281px 594px #fff,
    1404px 108px #fff, 1165px 90px #fff, 853px 1337px #fff, 1345px 947px #fff,
    2px 182px #fff, 347px 1922px #fff, 1793px 1244px #fff, 282px 2px #fff,
    857px 1170px #fff, 479px 189px #fff, 1918px 1431px #fff, 419px 878px #fff,
    130px 1490px #fff, 661px 816px #fff, 1850px 500px #fff, 1149px 1345px #fff,
    1645px 423px #fff, 1152px 1531px #fff, 307px 1111px #fff, 1548px 999px #fff,
    868px 1371px #fff, 1643px 1367px #fff, 1964px 1587px #fff, 1356px 299px #fff,
    888px 976px #fff, 204px 515px #fff, 1638px 664px #fff, 1301px 457px #fff,
    202px 832px #fff, 1067px 689px #fff, 1210px 576px #fff, 622px 1982px #fff,
    1964px 1106px #fff, 82px 1713px #fff, 1263px 1490px #fff, 598px 191px #fff,
    799px 13px #fff, 1323px 589px #fff, 1336px 665px #fff, 649px 264px #fff,
    416px 300px #fff, 1624px 672px #fff, 957px 290px #fff, 404px 1774px #fff,
    1576px 332px #fff, 1004px 65px #fff, 22px 976px #fff, 281px 878px #fff,
    685px 1825px #fff, 1537px 1455px #fff, 223px 1937px #fff, 108px 106px #fff,
    1228px 1089px #fff, 1600px 1421px #fff, 852px 542px #fff, 17px 1385px #fff,
    1149px 1301px #fff, 71px 1938px #fff, 670px 1675px #fff, 1710px 23px #fff,
    630px 647px #fff, 923px 901px #fff, 812px 826px #fff, 1941px 1041px #fff,
    365px 1740px #fff, 672px 1003px #fff, 917px 1734px #fff, 1603px 1702px #fff,
    1832px 305px #fff, 1696px 915px #fff, 294px 1264px #fff, 1496px 1438px #fff,
    312px 1369px #fff, 747px 1369px #fff, 72px 491px #fff, 1451px 460px #fff,
    904px 879px #fff, 276px 176px #fff, 1021px 1585px #fff, 969px 1931px #fff,
    527px 109px #fff, 1804px 1883px #fff, 1699px 837px #fff, 1981px 497px #fff,
    841px 1625px #fff, 1686px 1599px #fff, 515px 1921px #fff, 88px 56px #fff,
    126px 1199px #fff, 80px 1929px #fff, 982px 1555px #fff, 1399px 681px #fff,
    1200px 897px #fff, 558px 718px #fff, 646px 1827px #fff, 1467px 1896px #fff,
    1131px 313px #fff, 718px 1767px #fff, 1085px 1136px #fff, 915px 1126px #fff,
    1713px 393px #fff, 994px 1125px #fff, 1906px 1841px #fff, 32px 103px #fff,
    1377px 1221px #fff, 1549px 889px #fff, 1913px 465px #fff, 510px 433px #fff,
    614px 1573px #fff, 417px 476px #fff, 1583px 549px #fff, 411px 1717px #fff,
    323px 498px #fff, 340px 1157px #fff, 275px 1855px #fff, 792px 1499px #fff,
    1785px 733px #fff, 502px 233px #fff, 1782px 625px #fff, 989px 424px #fff,
    828px 1354px #fff, 925px 475px #fff, 477px 1921px #fff, 1639px 861px #fff,
    1845px 1248px #fff, 288px 49px #fff, 492px 1214px #fff, 346px 291px #fff,
    923px 26px #fff, 919px 1625px #fff, 761px 1117px #fff, 734px 745px #fff,
    252px 862px #fff, 752px 40px #fff, 25px 1797px #fff, 420px 940px #fff,
    1672px 1213px #fff, 216px 839px #fff, 1189px 142px #fff, 347px 647px #fff,
    767px 1281px #fff, 1906px 1165px #fff, 1557px 787px #fff, 648px 1961px #fff,
    1000px 1713px #fff, 80px 1032px #fff, 917px 572px #fff, 1648px 1005px #fff,
    430px 1296px #fff, 990px 1831px #fff, 483px 686px #fff, 397px 431px #fff,
    1124px 635px #fff, 972px 184px #fff, 630px 1264px #fff, 162px 365px #fff,
    1677px 897px #fff, 351px 409px #fff, 590px 723px #fff, 318px 1856px #fff,
    1927px 22px #fff, 1447px 1211px #fff, 463px 1874px #fff, 63px 1826px #fff,
    1017px 1390px #fff, 993px 262px #fff, 254px 1008px #fff, 419px 151px #fff,
    795px 923px #fff, 520px 717px #fff, 364px 646px #fff, 1886px 1148px #fff,
    1789px 103px #fff, 1546px 273px #fff, 1897px 799px #fff, 1737px 690px #fff,
    894px 1621px #fff, 325px 689px #fff, 1704px 1181px #fff, 305px 744px #fff,
    1984px 224px #fff, 442px 1482px #fff, 606px 1435px #fff, 175px 560px #fff,
    890px 685px #fff, 609px 890px #fff, 1989px 1738px #fff, 1090px 558px #fff,
    1613px 1860px #fff, 1681px 177px #fff, 158px 1653px #fff, 1274px 332px #fff,
    1559px 1809px #fff, 1233px 775px #fff, 1232px 1832px #fff, 1266px 252px #fff,
    909px 1983px #fff, 184px 1054px #fff, 962px 100px #fff, 1497px 61px #fff,
    1634px 855px #fff, 472px 747px #fff, 460px 1174px #fff, 1968px 20px #fff,
    1796px 447px #fff, 1537px 686px #fff, 818px 1897px #fff, 1355px 1562px #fff,
    1756px 951px #fff, 165px 106px #fff, 1327px 607px #fff, 506px 1628px #fff,
    655px 1780px #fff, 523px 1310px #fff, 996px 36px #fff, 525px 538px #fff,
    1492px 1006px #fff, 340px 1989px #fff, 712px 517px #fff, 356px 1255px #fff,
    725px 767px #fff, 297px 513px #fff, 505px 1232px #fff, 266px 1270px #fff,
    606px 1167px #fff, 1871px 1393px #fff, 208px 343px #fff, 1488px 1939px #fff,
    283px 210px #fff, 1039px 654px #fff, 1276px 1298px #fff, 1541px 145px #fff,
    1316px 946px #fff, 1003px 1059px #fff, 1903px 84px #fff, 588px 2000px #fff,
    1039px 1515px #fff, 410px 1556px #fff, 1170px 177px #fff, 556px 1528px #fff,
    161px 1701px #fff, 1176px 1468px #fff, 1042px 1784px #fff, 600px 1076px #fff,
    455px 86px #fff, 1059px 1416px #fff, 623px 1087px #fff, 98px 251px #fff,
    17px 922px #fff, 1274px 692px #fff, 225px 1895px #fff, 594px 532px #fff,
    598px 1857px #fff, 1492px 975px #fff, 508px 534px #fff, 420px 984px #fff,
    1741px 1938px #fff, 512px 910px #fff, 1487px 416px #fff, 920px 1773px #fff,
    1958px 1px #fff, 1230px 1516px #fff, 908px 798px #fff, 818px 196px #fff,
    356px 422px #fff, 1839px 1947px #fff, 1334px 619px #fff, 929px 621px #fff,
    200px 1175px #fff, 303px 671px #fff, 295px 395px #fff, 1531px 468px #fff,
    498px 1227px #fff, 1351px 135px #fff, 536px 533px #fff, 1959px 1865px #fff,
    1915px 1993px #fff, 732px 30px #fff, 636px 1611px #fff, 1632px 425px #fff,
    79px 169px #fff, 886px 1429px #fff, 796px 1046px #fff, 12px 318px #fff,
    343px 456px #fff, 1042px 1536px #fff, 1359px 1281px #fff, 437px 1480px #fff,
    260px 694px #fff, 1093px 1471px #fff, 556px 1608px #fff, 111px 510px #fff,
    1013px 1140px #fff, 911px 213px #fff, 1162px 1738px #fff, 328px 374px #fff,
    1843px 896px #fff, 1126px 1864px #fff, 1886px 260px #fff, 1245px 854px #fff,
    765px 850px #fff, 580px 976px #fff, 711px 1079px #fff, 1370px 1822px #fff,
    530px 1694px #fff, 1719px 313px #fff, 1701px 611px #fff, 808px 849px #fff,
    1663px 1332px #fff, 970px 1649px #fff, 450px 1616px #fff, 1602px 899px #fff,
    895px 1770px #fff, 1669px 128px #fff, 522px 136px #fff, 533px 273px #fff,
    11px 835px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1745px 63px #fff, 1399px 1492px #fff, 228px 1798px #fff,
    1661px 321px #fff, 290px 984px #fff, 1237px 937px #fff, 1593px 979px #fff,
    1966px 1949px #fff, 1527px 700px #fff, 1195px 1063px #fff, 1948px 587px #fff,
    440px 1471px #fff, 1233px 1372px #fff, 269px 1254px #fff, 1812px 1081px #fff,
    1922px 1109px #fff, 1514px 1329px #fff, 570px 1218px #fff,
    1445px 1763px #fff, 1071px 1004px #fff, 1131px 470px #fff, 305px 656px #fff,
    886px 1579px #fff, 1914px 1979px #fff, 716px 1963px #fff, 1707px 57px #fff,
    1114px 1262px #fff, 1150px 1112px #fff, 1667px 1894px #fff,
    1988px 1526px #fff, 477px 1042px #fff, 226px 1170px #fff, 1926px 1014px #fff,
    1159px 1758px #fff, 114px 1223px #fff, 427px 901px #fff, 526px 1090px #fff,
    1730px 306px #fff, 1438px 841px #fff, 961px 648px #fff, 1759px 804px #fff,
    711px 996px #fff, 734px 607px #fff, 154px 1208px #fff, 938px 1898px #fff,
    825px 1480px #fff, 1199px 1252px #fff, 1687px 1672px #fff, 660px 941px #fff,
    807px 1628px #fff, 1486px 859px #fff, 1545px 1164px #fff, 599px 1566px #fff,
    1857px 1020px #fff, 1724px 349px #fff, 1094px 1718px #fff, 355px 941px #fff,
    1819px 723px #fff, 1671px 296px #fff, 339px 1921px #fff, 1533px 1472px #fff,
    1474px 792px #fff, 1848px 1973px #fff, 23px 1494px #fff, 1628px 1221px #fff,
    278px 633px #fff, 34px 595px #fff, 590px 955px #fff, 969px 1611px #fff,
    569px 1420px #fff, 1286px 1928px #fff, 434px 643px #fff, 1695px 1728px #fff,
    584px 33px #fff, 1899px 992px #fff, 1667px 346px #fff, 1435px 1279px #fff,
    1890px 1076px #fff, 1258px 616px #fff, 1675px 688px #fff, 425px 340px #fff,
    131px 1457px #fff, 977px 1434px #fff, 11px 1573px #fff, 1027px 827px #fff,
    1743px 1594px #fff, 1252px 1954px #fff, 904px 226px #fff, 115px 147px #fff,
    760px 992px #fff, 1102px 1069px #fff, 862px 1598px #fff, 1495px 999px #fff,
    65px 288px #fff, 1233px 1351px #fff, 126px 1148px #fff, 1967px 1090px #fff,
    726px 1654px #fff, 575px 1381px #fff, 1488px 222px #fff, 923px 198px #fff,
    129px 1336px #fff, 1558px 1847px #fff, 1265px 988px #fff, 826px 1063px #fff,
    446px 904px #fff, 179px 1056px #fff, 1551px 1509px #fff, 914px 1243px #fff,
    50px 187px #fff, 877px 1407px #fff, 1280px 1217px #fff, 897px 204px #fff,
    1449px 602px #fff, 1178px 10px #fff, 141px 903px #fff, 1791px 1354px #fff,
    1144px 185px #fff, 1278px 1158px #fff, 1398px 1460px #fff, 1608px 937px #fff,
    1914px 1804px #fff, 114px 107px #fff, 601px 46px #fff, 837px 777px #fff,
    1183px 471px #fff, 97px 1081px #fff, 1355px 396px #fff, 1870px 1767px #fff,
    1217px 716px #fff, 1134px 699px #fff, 1107px 1031px #fff, 276px 1203px #fff,
    167px 1836px #fff, 1526px 1347px #fff, 1695px 1236px #fff, 1117px 119px #fff,
    345px 870px #fff, 256px 1353px #fff, 48px 753px #fff, 1277px 352px #fff,
    537px 88px #fff, 1824px 64px #fff, 498px 1575px #fff, 1626px 717px #fff,
    398px 1723px #fff, 1667px 1038px #fff, 130px 1567px #fff, 266px 1831px #fff,
    572px 62px #fff, 1239px 1996px #fff, 168px 1297px #fff, 683px 1987px #fff,
    1818px 1422px #fff, 1963px 1988px #fff, 949px 1202px #fff, 840px 1387px #fff,
    1094px 47px #fff, 994px 521px #fff, 1050px 1862px #fff, 865px 1912px #fff,
    82px 1951px #fff, 168px 711px #fff, 346px 290px #fff, 171px 1189px #fff,
    1850px 1781px #fff, 641px 750px #fff, 1623px 1684px #fff, 1575px 1066px #fff,
    64px 706px #fff, 371px 693px #fff, 1881px 1141px #fff, 1690px 305px #fff,
    891px 988px #fff, 541px 1581px #fff, 1970px 613px #fff, 1619px 1234px #fff,
    1610px 73px #fff, 250px 518px #fff, 1559px 100px #fff, 1853px 1580px #fff,
    1157px 1650px #fff, 1899px 224px #fff, 732px 1166px #fff, 630px 1139px #fff,
    715px 686px #fff, 1106px 1157px #fff, 1719px 114px #fff, 903px 1339px #fff,
    853px 609px #fff, 1633px 995px #fff, 588px 865px #fff, 981px 488px #fff,
    174px 892px #fff, 1224px 1858px #fff, 582px 227px #fff, 1809px 392px #fff,
    1291px 279px #fff, 1345px 1122px #fff, 1662px 1547px #fff, 1396px 193px #fff,
    1064px 1021px #fff, 1077px 1196px #fff, 1120px 1397px #fff, 26px 224px #fff,
    814px 1250px #fff, 168px 1233px #fff, 725px 1022px #fff, 1209px 928px #fff,
    138px 308px #fff, 742px 969px #fff, 871px 214px #fff, 192px 916px #fff,
    1307px 1467px #fff, 186px 1996px #fff, 1094px 576px #fff, 1640px 448px #fff,
    523px 21px #fff, 1382px 167px #fff, 1719px 497px #fff, 1065px 1821px #fff,
    1808px 270px #fff, 434px 305px #fff, 393px 413px #fff, 298px 1890px #fff,
    1264px 1043px #fff, 198px 708px #fff, 891px 1540px #fff, 1233px 1914px #fff,
    811px 1333px #fff, 667px 1493px #fff, 1722px 894px #fff, 1179px 1085px #fff,
    187px 1583px #fff, 203px 1628px #fff, 927px 495px #fff, 179px 884px #fff,
    1969px 1923px #fff, 1679px 1333px #fff, 17px 200px #fff, 631px 1068px #fff,
    1775px 1967px #fff, 1938px 1100px #fff, 1058px 943px #fff, 929px 1539px #fff,
    687px 949px #fff, 953px 1819px #fff, 595px 667px #fff, 1691px 1258px #fff,
    1698px 834px #fff, 1484px 1804px #fff, 1764px 842px #fff, 1950px 413px #fff,
    1204px 1136px #fff, 792px 995px #fff, 1569px 109px #fff, 1095px 605px #fff,
    1945px 1911px #fff, 1504px 1387px #fff, 552px 938px #fff, 589px 785px #fff,
    1053px 1009px #fff, 1145px 277px #fff, 869px 30px #fff, 866px 83px #fff,
    1043px 324px #fff, 1572px 1647px #fff, 1946px 131px #fff, 593px 198px #fff,
    539px 67px #fff, 1410px 1174px #fff, 1320px 1156px #fff, 1035px 664px #fff,
    611px 954px #fff, 1406px 107px #fff, 356px 791px #fff, 450px 501px #fff,
    946px 1346px #fff, 1811px 867px #fff, 260px 635px #fff, 1945px 1008px #fff,
    721px 1091px #fff, 190px 906px #fff, 1043px 1296px #fff, 1004px 1213px #fff,
    1069px 600px #fff, 1345px 244px #fff, 1008px 673px #fff, 3px 1477px #fff,
    1193px 316px #fff, 1179px 554px #fff, 205px 1080px #fff, 195px 693px #fff,
    756px 1004px #fff, 1882px 1389px #fff, 215px 1738px #fff, 1749px 1560px #fff,
    846px 1744px #fff, 954px 838px #fff, 374px 1157px #fff, 1886px 1153px #fff,
    1954px 1552px #fff, 1815px 1459px #fff, 1876px 1855px #fff,
    1005px 1894px #fff, 1794px 1693px #fff, 1234px 1716px #fff,
    1962px 1557px #fff, 829px 715px #fff, 1093px 1013px #fff, 882px 1429px #fff,
    380px 261px #fff, 667px 1853px #fff, 1068px 760px #fff, 211px 417px #fff,
    1377px 258px #fff, 1819px 1610px #fff, 1969px 677px #fff, 944px 1629px #fff,
    1599px 69px #fff, 813px 880px #fff, 369px 756px #fff, 102px 1484px #fff,
    1429px 1527px #fff, 1711px 528px #fff, 1187px 1501px #fff, 959px 1497px #fff,
    1913px 1079px #fff, 1986px 1193px #fff, 1011px 21px #fff, 363px 353px #fff,
    1475px 1253px #fff, 1282px 361px #fff, 286px 183px #fff, 1345px 1034px #fff,
    700px 705px #fff, 1407px 294px #fff, 1764px 76px #fff, 984px 439px #fff,
    1293px 1944px #fff, 1988px 1818px #fff, 1331px 720px #fff, 262px 257px #fff,
    978px 466px #fff, 1743px 113px #fff, 510px 901px #fff, 254px 1899px #fff,
    748px 675px #fff, 432px 770px #fff, 604px 1700px #fff, 1631px 1572px #fff,
    1668px 1671px #fff, 1652px 1167px #fff, 291px 82px #fff, 437px 178px #fff,
    128px 10px #fff, 359px 1885px #fff, 604px 311px #fff, 415px 1436px #fff,
    1103px 1886px #fff, 605px 308px #fff, 1309px 710px #fff, 1047px 1536px #fff,
    143px 712px #fff, 727px 1782px #fff, 1880px 146px #fff, 1300px 236px #fff,
    1034px 1790px #fff, 483px 167px #fff, 895px 483px #fff, 1493px 667px #fff,
    249px 1998px #fff, 1241px 1598px #fff, 1610px 371px #fff, 310px 718px #fff,
    1543px 486px #fff, 255px 1721px #fff, 402px 857px #fff, 420px 1882px #fff,
    657px 499px #fff, 1305px 432px #fff, 1848px 685px #fff, 281px 594px #fff,
    1404px 108px #fff, 1165px 90px #fff, 853px 1337px #fff, 1345px 947px #fff,
    2px 182px #fff, 347px 1922px #fff, 1793px 1244px #fff, 282px 2px #fff,
    857px 1170px #fff, 479px 189px #fff, 1918px 1431px #fff, 419px 878px #fff,
    130px 1490px #fff, 661px 816px #fff, 1850px 500px #fff, 1149px 1345px #fff,
    1645px 423px #fff, 1152px 1531px #fff, 307px 1111px #fff, 1548px 999px #fff,
    868px 1371px #fff, 1643px 1367px #fff, 1964px 1587px #fff, 1356px 299px #fff,
    888px 976px #fff, 204px 515px #fff, 1638px 664px #fff, 1301px 457px #fff,
    202px 832px #fff, 1067px 689px #fff, 1210px 576px #fff, 622px 1982px #fff,
    1964px 1106px #fff, 82px 1713px #fff, 1263px 1490px #fff, 598px 191px #fff,
    799px 13px #fff, 1323px 589px #fff, 1336px 665px #fff, 649px 264px #fff,
    416px 300px #fff, 1624px 672px #fff, 957px 290px #fff, 404px 1774px #fff,
    1576px 332px #fff, 1004px 65px #fff, 22px 976px #fff, 281px 878px #fff,
    685px 1825px #fff, 1537px 1455px #fff, 223px 1937px #fff, 108px 106px #fff,
    1228px 1089px #fff, 1600px 1421px #fff, 852px 542px #fff, 17px 1385px #fff,
    1149px 1301px #fff, 71px 1938px #fff, 670px 1675px #fff, 1710px 23px #fff,
    630px 647px #fff, 923px 901px #fff, 812px 826px #fff, 1941px 1041px #fff,
    365px 1740px #fff, 672px 1003px #fff, 917px 1734px #fff, 1603px 1702px #fff,
    1832px 305px #fff, 1696px 915px #fff, 294px 1264px #fff, 1496px 1438px #fff,
    312px 1369px #fff, 747px 1369px #fff, 72px 491px #fff, 1451px 460px #fff,
    904px 879px #fff, 276px 176px #fff, 1021px 1585px #fff, 969px 1931px #fff,
    527px 109px #fff, 1804px 1883px #fff, 1699px 837px #fff, 1981px 497px #fff,
    841px 1625px #fff, 1686px 1599px #fff, 515px 1921px #fff, 88px 56px #fff,
    126px 1199px #fff, 80px 1929px #fff, 982px 1555px #fff, 1399px 681px #fff,
    1200px 897px #fff, 558px 718px #fff, 646px 1827px #fff, 1467px 1896px #fff,
    1131px 313px #fff, 718px 1767px #fff, 1085px 1136px #fff, 915px 1126px #fff,
    1713px 393px #fff, 994px 1125px #fff, 1906px 1841px #fff, 32px 103px #fff,
    1377px 1221px #fff, 1549px 889px #fff, 1913px 465px #fff, 510px 433px #fff,
    614px 1573px #fff, 417px 476px #fff, 1583px 549px #fff, 411px 1717px #fff,
    323px 498px #fff, 340px 1157px #fff, 275px 1855px #fff, 792px 1499px #fff,
    1785px 733px #fff, 502px 233px #fff, 1782px 625px #fff, 989px 424px #fff,
    828px 1354px #fff, 925px 475px #fff, 477px 1921px #fff, 1639px 861px #fff,
    1845px 1248px #fff, 288px 49px #fff, 492px 1214px #fff, 346px 291px #fff,
    923px 26px #fff, 919px 1625px #fff, 761px 1117px #fff, 734px 745px #fff,
    252px 862px #fff, 752px 40px #fff, 25px 1797px #fff, 420px 940px #fff,
    1672px 1213px #fff, 216px 839px #fff, 1189px 142px #fff, 347px 647px #fff,
    767px 1281px #fff, 1906px 1165px #fff, 1557px 787px #fff, 648px 1961px #fff,
    1000px 1713px #fff, 80px 1032px #fff, 917px 572px #fff, 1648px 1005px #fff,
    430px 1296px #fff, 990px 1831px #fff, 483px 686px #fff, 397px 431px #fff,
    1124px 635px #fff, 972px 184px #fff, 630px 1264px #fff, 162px 365px #fff,
    1677px 897px #fff, 351px 409px #fff, 590px 723px #fff, 318px 1856px #fff,
    1927px 22px #fff, 1447px 1211px #fff, 463px 1874px #fff, 63px 1826px #fff,
    1017px 1390px #fff, 993px 262px #fff, 254px 1008px #fff, 419px 151px #fff,
    795px 923px #fff, 520px 717px #fff, 364px 646px #fff, 1886px 1148px #fff,
    1789px 103px #fff, 1546px 273px #fff, 1897px 799px #fff, 1737px 690px #fff,
    894px 1621px #fff, 325px 689px #fff, 1704px 1181px #fff, 305px 744px #fff,
    1984px 224px #fff, 442px 1482px #fff, 606px 1435px #fff, 175px 560px #fff,
    890px 685px #fff, 609px 890px #fff, 1989px 1738px #fff, 1090px 558px #fff,
    1613px 1860px #fff, 1681px 177px #fff, 158px 1653px #fff, 1274px 332px #fff,
    1559px 1809px #fff, 1233px 775px #fff, 1232px 1832px #fff, 1266px 252px #fff,
    909px 1983px #fff, 184px 1054px #fff, 962px 100px #fff, 1497px 61px #fff,
    1634px 855px #fff, 472px 747px #fff, 460px 1174px #fff, 1968px 20px #fff,
    1796px 447px #fff, 1537px 686px #fff, 818px 1897px #fff, 1355px 1562px #fff,
    1756px 951px #fff, 165px 106px #fff, 1327px 607px #fff, 506px 1628px #fff,
    655px 1780px #fff, 523px 1310px #fff, 996px 36px #fff, 525px 538px #fff,
    1492px 1006px #fff, 340px 1989px #fff, 712px 517px #fff, 356px 1255px #fff,
    725px 767px #fff, 297px 513px #fff, 505px 1232px #fff, 266px 1270px #fff,
    606px 1167px #fff, 1871px 1393px #fff, 208px 343px #fff, 1488px 1939px #fff,
    283px 210px #fff, 1039px 654px #fff, 1276px 1298px #fff, 1541px 145px #fff,
    1316px 946px #fff, 1003px 1059px #fff, 1903px 84px #fff, 588px 2000px #fff,
    1039px 1515px #fff, 410px 1556px #fff, 1170px 177px #fff, 556px 1528px #fff,
    161px 1701px #fff, 1176px 1468px #fff, 1042px 1784px #fff, 600px 1076px #fff,
    455px 86px #fff, 1059px 1416px #fff, 623px 1087px #fff, 98px 251px #fff,
    17px 922px #fff, 1274px 692px #fff, 225px 1895px #fff, 594px 532px #fff,
    598px 1857px #fff, 1492px 975px #fff, 508px 534px #fff, 420px 984px #fff,
    1741px 1938px #fff, 512px 910px #fff, 1487px 416px #fff, 920px 1773px #fff,
    1958px 1px #fff, 1230px 1516px #fff, 908px 798px #fff, 818px 196px #fff,
    356px 422px #fff, 1839px 1947px #fff, 1334px 619px #fff, 929px 621px #fff,
    200px 1175px #fff, 303px 671px #fff, 295px 395px #fff, 1531px 468px #fff,
    498px 1227px #fff, 1351px 135px #fff, 536px 533px #fff, 1959px 1865px #fff,
    1915px 1993px #fff, 732px 30px #fff, 636px 1611px #fff, 1632px 425px #fff,
    79px 169px #fff, 886px 1429px #fff, 796px 1046px #fff, 12px 318px #fff,
    343px 456px #fff, 1042px 1536px #fff, 1359px 1281px #fff, 437px 1480px #fff,
    260px 694px #fff, 1093px 1471px #fff, 556px 1608px #fff, 111px 510px #fff,
    1013px 1140px #fff, 911px 213px #fff, 1162px 1738px #fff, 328px 374px #fff,
    1843px 896px #fff, 1126px 1864px #fff, 1886px 260px #fff, 1245px 854px #fff,
    765px 850px #fff, 580px 976px #fff, 711px 1079px #fff, 1370px 1822px #fff,
    530px 1694px #fff, 1719px 313px #fff, 1701px 611px #fff, 808px 849px #fff,
    1663px 1332px #fff, 970px 1649px #fff, 450px 1616px #fff, 1602px 899px #fff,
    895px 1770px #fff, 1669px 128px #fff, 522px 136px #fff, 533px 273px #fff,
    11px 835px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 12px 348px #fff, 849px 599px #fff, 824px 838px #fff,
    1178px 279px #fff, 1957px 901px #fff, 1817px 23px #fff, 1px 192px #fff,
    1798px 1571px #fff, 1582px 1156px #fff, 835px 1970px #fff,
    1340px 1733px #fff, 1646px 660px #fff, 1932px 1876px #fff, 644px 1301px #fff,
    836px 496px #fff, 322px 476px #fff, 1253px 1419px #fff, 771px 1205px #fff,
    1827px 312px #fff, 1181px 112px #fff, 1778px 102px #fff, 1125px 1426px #fff,
    1052px 302px #fff, 1202px 1215px #fff, 689px 565px #fff, 1167px 946px #fff,
    1778px 510px #fff, 378px 1736px #fff, 1408px 1551px #fff, 106px 1388px #fff,
    576px 2000px #fff, 248px 1170px #fff, 507px 337px #fff, 319px 1810px #fff,
    1773px 448px #fff, 1707px 1603px #fff, 1139px 1096px #fff, 639px 840px #fff,
    449px 580px #fff, 453px 1292px #fff, 39px 1203px #fff, 1755px 1341px #fff,
    1537px 612px #fff, 1915px 1275px #fff, 1766px 771px #fff, 1343px 75px #fff,
    150px 520px #fff, 769px 1486px #fff, 5px 1021px #fff, 41px 1993px #fff,
    1954px 1914px #fff, 23px 305px #fff, 496px 383px #fff, 848px 1098px #fff,
    82px 350px #fff, 543px 1278px #fff, 611px 1351px #fff, 378px 1897px #fff,
    187px 1044px #fff, 1185px 1989px #fff, 667px 838px #fff, 552px 1316px #fff,
    1830px 770px #fff, 1932px 1458px #fff, 370px 164px #fff, 1573px 50px #fff,
    434px 969px #fff, 666px 1594px #fff, 129px 1123px #fff, 1808px 1473px #fff,
    1774px 37px #fff, 30px 258px #fff, 1363px 1659px #fff, 164px 1028px #fff,
    1026px 745px #fff, 840px 1089px #fff, 937px 1004px #fff, 168px 1975px #fff,
    1042px 1695px #fff, 1148px 1900px #fff, 689px 876px #fff, 520px 450px #fff,
    53px 282px #fff, 1210px 1096px #fff, 1393px 1914px #fff, 1270px 795px #fff,
    38px 1516px #fff, 745px 629px #fff, 1349px 929px #fff, 772px 414px #fff,
    1987px 746px #fff, 699px 1219px #fff, 1710px 1878px #fff, 893px 969px #fff,
    1511px 541px #fff, 1387px 787px #fff, 1808px 1347px #fff, 707px 1086px #fff,
    1258px 1969px #fff, 1129px 27px #fff, 1242px 969px #fff, 868px 121px #fff,
    753px 1809px #fff, 1493px 609px #fff, 1245px 719px #fff, 1375px 1258px #fff,
    269px 1036px #fff, 875px 1907px #fff, 554px 859px #fff, 804px 1300px #fff,
    32px 1909px #fff, 1773px 1490px #fff, 88px 502px #fff, 1142px 933px #fff,
    125px 444px #fff, 648px 1674px #fff, 1518px 1396px #fff, 862px 1686px #fff,
    870px 1290px #fff, 158px 583px #fff, 1828px 742px #fff, 262px 1787px #fff,
    577px 1116px #fff, 590px 1038px #fff, 1785px 45px #fff, 1250px 420px #fff,
    1839px 1646px #fff, 1103px 986px #fff, 151px 265px #fff, 1807px 91px #fff,
    331px 1656px #fff, 1490px 1390px #fff, 914px 533px #fff, 1868px 1638px #fff,
    1553px 788px #fff, 811px 149px #fff, 1800px 1135px #fff, 1162px 821px #fff,
    876px 1120px #fff, 1279px 103px #fff, 285px 787px #fff, 718px 1209px #fff,
    1078px 531px #fff, 297px 331px #fff, 414px 718px #fff, 506px 426px #fff,
    1628px 155px #fff, 144px 297px #fff, 835px 152px #fff, 771px 53px #fff,
    1830px 237px #fff, 761px 1637px #fff, 1941px 891px #fff, 1319px 1983px #fff,
    1021px 1111px #fff, 1556px 1502px #fff, 937px 1812px #fff,
    1469px 1574px #fff, 1929px 498px #fff, 162px 1134px #fff, 1265px 1726px #fff,
    165px 1673px #fff, 795px 416px #fff, 1688px 1961px #fff, 1625px 506px #fff,
    551px 1020px #fff, 911px 1693px #fff, 1463px 1518px #fff, 385px 1358px #fff,
    943px 1287px #fff, 1716px 26px #fff, 403px 136px #fff, 59px 980px #fff,
    1105px 1023px #fff, 1570px 876px #fff, 777px 1790px #fff, 853px 223px #fff,
    906px 1484px #fff, 647px 1178px #fff, 1600px 518px #fff, 311px 1441px #fff,
    1597px 17px #fff, 97px 581px #fff, 1445px 130px #fff, 1896px 51px #fff,
    1884px 1874px #fff, 1085px 1477px #fff, 1482px 1073px #fff,
    1087px 825px #fff, 1236px 339px #fff, 387px 1425px #fff, 590px 566px #fff,
    1895px 588px #fff, 1500px 316px #fff, 1929px 1076px #fff, 1771px 236px #fff,
    274px 1631px #fff, 628px 1584px #fff, 843px 1169px #fff, 90px 690px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 12px 348px #fff, 849px 599px #fff, 824px 838px #fff,
    1178px 279px #fff, 1957px 901px #fff, 1817px 23px #fff, 1px 192px #fff,
    1798px 1571px #fff, 1582px 1156px #fff, 835px 1970px #fff,
    1340px 1733px #fff, 1646px 660px #fff, 1932px 1876px #fff, 644px 1301px #fff,
    836px 496px #fff, 322px 476px #fff, 1253px 1419px #fff, 771px 1205px #fff,
    1827px 312px #fff, 1181px 112px #fff, 1778px 102px #fff, 1125px 1426px #fff,
    1052px 302px #fff, 1202px 1215px #fff, 689px 565px #fff, 1167px 946px #fff,
    1778px 510px #fff, 378px 1736px #fff, 1408px 1551px #fff, 106px 1388px #fff,
    576px 2000px #fff, 248px 1170px #fff, 507px 337px #fff, 319px 1810px #fff,
    1773px 448px #fff, 1707px 1603px #fff, 1139px 1096px #fff, 639px 840px #fff,
    449px 580px #fff, 453px 1292px #fff, 39px 1203px #fff, 1755px 1341px #fff,
    1537px 612px #fff, 1915px 1275px #fff, 1766px 771px #fff, 1343px 75px #fff,
    150px 520px #fff, 769px 1486px #fff, 5px 1021px #fff, 41px 1993px #fff,
    1954px 1914px #fff, 23px 305px #fff, 496px 383px #fff, 848px 1098px #fff,
    82px 350px #fff, 543px 1278px #fff, 611px 1351px #fff, 378px 1897px #fff,
    187px 1044px #fff, 1185px 1989px #fff, 667px 838px #fff, 552px 1316px #fff,
    1830px 770px #fff, 1932px 1458px #fff, 370px 164px #fff, 1573px 50px #fff,
    434px 969px #fff, 666px 1594px #fff, 129px 1123px #fff, 1808px 1473px #fff,
    1774px 37px #fff, 30px 258px #fff, 1363px 1659px #fff, 164px 1028px #fff,
    1026px 745px #fff, 840px 1089px #fff, 937px 1004px #fff, 168px 1975px #fff,
    1042px 1695px #fff, 1148px 1900px #fff, 689px 876px #fff, 520px 450px #fff,
    53px 282px #fff, 1210px 1096px #fff, 1393px 1914px #fff, 1270px 795px #fff,
    38px 1516px #fff, 745px 629px #fff, 1349px 929px #fff, 772px 414px #fff,
    1987px 746px #fff, 699px 1219px #fff, 1710px 1878px #fff, 893px 969px #fff,
    1511px 541px #fff, 1387px 787px #fff, 1808px 1347px #fff, 707px 1086px #fff,
    1258px 1969px #fff, 1129px 27px #fff, 1242px 969px #fff, 868px 121px #fff,
    753px 1809px #fff, 1493px 609px #fff, 1245px 719px #fff, 1375px 1258px #fff,
    269px 1036px #fff, 875px 1907px #fff, 554px 859px #fff, 804px 1300px #fff,
    32px 1909px #fff, 1773px 1490px #fff, 88px 502px #fff, 1142px 933px #fff,
    125px 444px #fff, 648px 1674px #fff, 1518px 1396px #fff, 862px 1686px #fff,
    870px 1290px #fff, 158px 583px #fff, 1828px 742px #fff, 262px 1787px #fff,
    577px 1116px #fff, 590px 1038px #fff, 1785px 45px #fff, 1250px 420px #fff,
    1839px 1646px #fff, 1103px 986px #fff, 151px 265px #fff, 1807px 91px #fff,
    331px 1656px #fff, 1490px 1390px #fff, 914px 533px #fff, 1868px 1638px #fff,
    1553px 788px #fff, 811px 149px #fff, 1800px 1135px #fff, 1162px 821px #fff,
    876px 1120px #fff, 1279px 103px #fff, 285px 787px #fff, 718px 1209px #fff,
    1078px 531px #fff, 297px 331px #fff, 414px 718px #fff, 506px 426px #fff,
    1628px 155px #fff, 144px 297px #fff, 835px 152px #fff, 771px 53px #fff,
    1830px 237px #fff, 761px 1637px #fff, 1941px 891px #fff, 1319px 1983px #fff,
    1021px 1111px #fff, 1556px 1502px #fff, 937px 1812px #fff,
    1469px 1574px #fff, 1929px 498px #fff, 162px 1134px #fff, 1265px 1726px #fff,
    165px 1673px #fff, 795px 416px #fff, 1688px 1961px #fff, 1625px 506px #fff,
    551px 1020px #fff, 911px 1693px #fff, 1463px 1518px #fff, 385px 1358px #fff,
    943px 1287px #fff, 1716px 26px #fff, 403px 136px #fff, 59px 980px #fff,
    1105px 1023px #fff, 1570px 876px #fff, 777px 1790px #fff, 853px 223px #fff,
    906px 1484px #fff, 647px 1178px #fff, 1600px 518px #fff, 311px 1441px #fff,
    1597px 17px #fff, 97px 581px #fff, 1445px 130px #fff, 1896px 51px #fff,
    1884px 1874px #fff, 1085px 1477px #fff, 1482px 1073px #fff,
    1087px 825px #fff, 1236px 339px #fff, 387px 1425px #fff, 590px 566px #fff,
    1895px 588px #fff, 1500px 316px #fff, 1929px 1076px #fff, 1771px 236px #fff,
    274px 1631px #fff, 628px 1584px #fff, 843px 1169px #fff, 90px 690px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1031px 680px #fff, 570px 170px #fff, 1732px 1475px #fff,
    152px 559px #fff, 154px 1659px #fff, 1872px 262px #fff, 1450px 144px #fff,
    486px 601px #fff, 281px 244px #fff, 1483px 1135px #fff, 1973px 276px #fff,
    686px 1329px #fff, 829px 204px #fff, 715px 319px #fff, 1741px 1247px #fff,
    1273px 1385px #fff, 655px 304px #fff, 1715px 1355px #fff, 1652px 1235px #fff,
    1380px 475px #fff, 867px 1251px #fff, 381px 1965px #fff, 550px 984px #fff,
    1217px 107px #fff, 1904px 1190px #fff, 328px 1211px #fff, 839px 456px #fff,
    1032px 918px #fff, 1950px 1552px #fff, 119px 1411px #fff, 1356px 1986px #fff,
    192px 1712px #fff, 339px 1236px #fff, 1002px 1625px #fff, 660px 1677px #fff,
    1288px 1192px #fff, 1492px 244px #fff, 525px 1738px #fff, 384px 1908px #fff,
    888px 69px #fff, 1527px 719px #fff, 770px 397px #fff, 215px 1433px #fff,
    1356px 544px #fff, 1135px 1737px #fff, 524px 180px #fff, 1385px 1433px #fff,
    1613px 842px #fff, 1539px 1265px #fff, 1287px 1609px #fff,
    1126px 1956px #fff, 1503px 693px #fff, 1834px 592px #fff, 1186px 663px #fff,
    1509px 1694px #fff, 1471px 1961px #fff, 586px 195px #fff, 481px 728px #fff,
    1037px 406px #fff, 784px 1871px #fff, 1829px 1676px #fff, 572px 1393px #fff,
    63px 1519px #fff, 937px 573px #fff, 1927px 785px #fff, 431px 1659px #fff,
    1356px 1942px #fff, 278px 1455px #fff, 1827px 128px #fff, 387px 921px #fff,
    302px 206px #fff, 1658px 1373px #fff, 1810px 281px #fff, 1334px 1893px #fff,
    410px 1390px #fff, 593px 1841px #fff, 992px 88px #fff, 804px 501px #fff,
    1745px 120px #fff, 59px 1515px #fff, 1872px 1182px #fff, 62px 715px #fff,
    1062px 1842px #fff, 1401px 65px #fff, 1254px 384px #fff, 1460px 1156px #fff,
    673px 566px #fff, 1451px 879px #fff, 1298px 601px #fff, 873px 1452px #fff,
    1265px 1416px #fff, 1627px 1512px #fff, 706px 377px #fff, 1713px 337px #fff,
    1175px 1528px #fff, 1932px 850px #fff, 1275px 1281px #fff,
    1755px 1213px #fff, 1368px 93px #fff, 662px 1567px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1031px 680px #fff, 570px 170px #fff, 1732px 1475px #fff,
    152px 559px #fff, 154px 1659px #fff, 1872px 262px #fff, 1450px 144px #fff,
    486px 601px #fff, 281px 244px #fff, 1483px 1135px #fff, 1973px 276px #fff,
    686px 1329px #fff, 829px 204px #fff, 715px 319px #fff, 1741px 1247px #fff,
    1273px 1385px #fff, 655px 304px #fff, 1715px 1355px #fff, 1652px 1235px #fff,
    1380px 475px #fff, 867px 1251px #fff, 381px 1965px #fff, 550px 984px #fff,
    1217px 107px #fff, 1904px 1190px #fff, 328px 1211px #fff, 839px 456px #fff,
    1032px 918px #fff, 1950px 1552px #fff, 119px 1411px #fff, 1356px 1986px #fff,
    192px 1712px #fff, 339px 1236px #fff, 1002px 1625px #fff, 660px 1677px #fff,
    1288px 1192px #fff, 1492px 244px #fff, 525px 1738px #fff, 384px 1908px #fff,
    888px 69px #fff, 1527px 719px #fff, 770px 397px #fff, 215px 1433px #fff,
    1356px 544px #fff, 1135px 1737px #fff, 524px 180px #fff, 1385px 1433px #fff,
    1613px 842px #fff, 1539px 1265px #fff, 1287px 1609px #fff,
    1126px 1956px #fff, 1503px 693px #fff, 1834px 592px #fff, 1186px 663px #fff,
    1509px 1694px #fff, 1471px 1961px #fff, 586px 195px #fff, 481px 728px #fff,
    1037px 406px #fff, 784px 1871px #fff, 1829px 1676px #fff, 572px 1393px #fff,
    63px 1519px #fff, 937px 573px #fff, 1927px 785px #fff, 431px 1659px #fff,
    1356px 1942px #fff, 278px 1455px #fff, 1827px 128px #fff, 387px 921px #fff,
    302px 206px #fff, 1658px 1373px #fff, 1810px 281px #fff, 1334px 1893px #fff,
    410px 1390px #fff, 593px 1841px #fff, 992px 88px #fff, 804px 501px #fff,
    1745px 120px #fff, 59px 1515px #fff, 1872px 1182px #fff, 62px 715px #fff,
    1062px 1842px #fff, 1401px 65px #fff, 1254px 384px #fff, 1460px 1156px #fff,
    673px 566px #fff, 1451px 879px #fff, 1298px 601px #fff, 873px 1452px #fff,
    1265px 1416px #fff, 1627px 1512px #fff, 706px 377px #fff, 1713px 337px #fff,
    1175px 1528px #fff, 1932px 850px #fff, 1275px 1281px #fff,
    1755px 1213px #fff, 1368px 93px #fff, 662px 1567px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
